{% extends "layout.html" %}
{% block body %}
    <div class="page-header">
            <h1>Send Emails to donors</h1>
    </div>

<form method="post" action="{{ url_for('emailadmin') }}">
{{ form.csrf_token }}                                                         
                                                                                   
    <div class="form-group">                                                       
        {{ form.zipcode.label }}:                                                  
        {{ form.zipcode(class="form-control", placeholder="12345") }}              
    </div>                                                                         
                                                                                   
    <div class="form-group">                                                       
        {{ form.radius.label }}:                                                   
        {{ form.radius(class="form-control", placeholder="ex:50 miles") }}         
    </div>                                                                         
                                                                                   
    <div class="form-group">                                                       
        {{ form.subject.label }}:                                                  
        {{ form.subject(class="form-control", placeholder="Upcoming Event") }}              
    </div>                                                                         
      
    <div class="form-group">
        <form action="/sendemail" id="usrform" method="post">
            Body:
            <textarea rows="4" cols="50" name="email_body" form="usrform" required class="form-control">
                Enter text here...
            </textarea>
        </form><br/>
    </div>

    <input type="submit" class="btn btn-primary btn-large" value="Submit">         
</form>
{% endblock %}
{% block footer %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey={{mce_key}}"></script>
      <script>
        tinymce.init({
            selector: 'textarea',
            height: 300,
            menubar: false,
            plugins: [
                'advlist autolink lists link textcolor',
                'searchreplace visualblocks',
                'insertdatetime paste'
            ],
            toolbar: 'mybutton | insert | undo redo | bold italic | alignleft aligncenter alignright | removeformat',
            setup: function (editor) {
                editor.addButton('mybutton', {
                    type: 'listbox',
                    text: 'Personalization',
                    icon: false,
                    onselect: function (e) {
                        editor.insertContent(this.value());
                    },
                    values: [
                        { text: 'First Name', value: '${first_name}' },
                        { text: 'Last Name', value: '${last_name}' },
                        { text: 'Email', value: '${email}' }
                    ]
                });
            }
        });
    </script>
{% endblock %}
