{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1>FAQ</h1>

</div>

<h2> Donors </h2> 
<h3> Account Questions: </h3> 
<div class="panel panel-default">
    <div class="panel-body">
        How do I sign up?
    </div>
    <div class="panel-footer">
        Please go to the homepage, click the 'Create Account' button and
	follow the prompts.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        
    </div>
    <div class="panel-footer">
        Answer1
    </div>
</div>
<h2> Blood bank: </h2>
<div class="panel panel-default">
    <div class="panel-body">
        Question1
    </div>
    <div class="panel-footer">
        Answer1
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        Question2
    </div>
    <div class="panel-footer">
        Answer2
    </div>
</div>

{% endblock %}
