{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1>FAQ</h1>

</div>

<h2> Donors </h2> 
<div class="panel panel-default">
    <div class="panel-body">
        How do I sign up?
    </div>
    <div class="panel-footer">
        Please go to the homepage, click the 'Create Account' button and
	follow the prompts.
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
       Why should I sign up? I already donate with the Red Cross 
    </div>
    <div class="panel-footer">
        Kudos to you! We're glad you're an active donor. Unlike the Red Cross, 
	we interface with all bloodbanks, so you don't have to register with 
	every single one individually. 
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
       What information will you take from me?
    </div>
    <div class="panel-footer">
        We will require your Name, Phone Number, Email, and Zipcode, and you 
	can fill out additional information if you wish.
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
       Is my information protected?
    </div>
    <div class="panel-footer">
        We do our best to make sure your information is handled with care. 
	However, we are not HIPPA certified at this time so we do adhere to 
	those standards, but we aim to get there soon. 
    </div>
</div>
<h2> Blood banks </h2>
<div class="panel panel-default">
    <div class="panel-body">
        Why should I use your app?
    </div>
    <div class="panel-footer">
        Through our application, you get access to potential donors all over 
	the country. Rather than just your donors who have signed up with you,
	you now have access to a whole new pool of possible donors. 
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        How do I reach out to possible donors?
    </div>
    <div class="panel-footer">
        Click the EmailAdmin tab and fill out the zipcode of the event or 
	donation center, and the radius you want to find users in. We suggest 
	a radius under 50 miles so that those reached are within driving 
	distance. Then add in your subject line, and body of the email and click 
	submit. We will handle the rest. 
    </div>
</div>

<h2> Hospitals </h2>
<div class="panel panel-default">
    <div class="panel-body">
        Why should I use your app?
    </div>
    <div class="panel-footer">
        We connect you to a whole host of bloodbanks and they have access to a 
	vast pool of donors. Additonally you can make a request for stock 
	replenishment and only interface with our app, rather than multiple
	bloodbanks.  
    </div>
</div>


{% endblock %}
