{% extends "skeleton.html" %}

{% block nav %}
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <!-- Screen-reader only -->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ url_for('index') }}">Blood Coordinations Inc</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <!-- active left navigation -->
        <li class="active"><a href="#">Somewhere <span class="sr-only">(current)</span></a></li>
      </ul>
        {% if user %}
        <!-- only show when not signed in -->
      <div class="nav navbar-right">
          <a href="{{ url_for('settings') }}"><button type="button" class="btn btn-default navbar-btn">Settings</button></a>
          <a href="{{ logout_url }}"><button type="button" class="btn btn-default navbar-btn">Sign Out</button></a>
      </div>
        {% else %}
      <div class="nav navbar-right">
          {% if account['user'] %}
            <a href="{{ account['logout'] }}"><button type="button" class="btn btn-default navbar-btn">Logout</button></a>
          {% else %}
          <a href="{{ url_for('choose_account') }}"><button type="button" class="btn btn-default navbar-btn">Create Account</button></a>
          <a href="{{ account['login'] }}"><button type="button" class="btn btn-default navbar-btn">Sign In</button></a>
          {% endif %}
      </div>
        {% endif %}
    </div>
  </div>
</nav>
{% endblock %}


<!-- TODO: add padding if necessary -->
{% block footer %}
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid centered-navbar">

      <ul class="nav navbar-nav">
              <li><a href="{{ url_for('about') }}">About</a></li>
              <li><a href="{{ url_for('faq') }}">FAQ</a></li>
      </ul>
  </div>
</nav>
{% endblock %}
