{% extends "layout.html" %}
{% block body %}
<div class="page-header">
        <h1>Welcome to your user settings page!</h1>
</div>

<form method="post" action="{{ url_for('update_settings') }}">
    {{ form.csrf_token }}

    {{ form.outreach.label }}
    <div class="form-group">
        {{ form.outreach }}
    </div>
    {{ form.contact.label }}
    <div class="form-group">
        {{ form.contact }}
    </div>

    <input type="submit" class="btn btn-primary btn-large" value="Submit">
</form>
{% endblock %}
