{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1>Update Event Details</h1>
</div>
    {% if event %}
        <form action="{{ url_for('editevent') }}" method="POST" >
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.inst_id }}
                {{ form.eid }}
            </div>
            <div class="form-group">
                {{ form.location.label }}:
                {{ form.location(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label }}:
                {{ form.description(class="form-control") }}
            </div>
            <input type="submit" class="btn btn-primary btn-large" value="Update Details">
        </form>
        <form action="{{url_for('deleteevent')}}" method="POST">
            <input type="hidden" value="{{ event.key.id() }}" name="eid"/>
            <!-- <input type="hidden" value="{{event.key.id()}}" name="eid"/> -->
            <input type="submit" class="btn btn-danger btn-large" value="Cancel Event">
        </form>
    {% else %}
        <p>Sorry, we are unable to find the requested event. Please try again.</p>
    {% endif %}
{% endblock %}