{% extends "layout.html" %}
{% block body %}
<div class="page-header">
    <h1>Viewing Event</h1>
</div>
    {% if event %}
        {% if event.end_date < current_time %}
            <div class="alert alert-warning">
                This event has already ended.
            </div>
        {% elif event.start_date < current_time and event.end_date > current_time %}
            <div class="alert alert-success">
                This event is in progress.
            </div>
        {% endif %}
        <div align="center">
            <iframe
              width="600"
              height="450"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?{{url_params}}" allowfullscreen>
            </iframe>
        </div>
        <div class="event-info" style="border-bottom: 1px solid rgb(238, 238, 238);">
            <h2>Location: {{event.location}}</h2>
            <h3>Start: {{start_date.strftime("%B %d, %Y at %I:%M %p")}} EST</h3>
            <h3>End: {{end_date.strftime("%B %d, %Y at %I:%M %p")}} EST</h3>
            {% if event.description %}
                <p>{{event.description}}</p>
            {% endif %}
        </div>
        <div class="apointment-info">
            {% if g.authenticated %}
                {% if g.get('account_type') == 'donor' %}
                    {% if current_apt %}
                        {% if current_apt.start_time < current_time %}
                            <h4>You had an appointment at {{apt_time.strftime("%I:%M %p")}} EST</h4>
                            {% if current_apt.notes %}
                                <p>You included the following note:<br/> {{current_apt.notes}}</p>
                            {% endif %}
                        {% else %}
                            <h4>You have an appointment at {{apt_time.strftime("%I:%M %p")}} EST</h4>
                            <form action="{{ url_for('updateaptnote') }}" method="POST" id="note-form">
                                <input type="hidden" name="tsid" value="{{ current_apt.key.id() }}"/>
                                <input type="hidden" name="eid" value="{{ event.key.id() }}"/>
                                 <label for="note">Notes</label>
                                <textarea form="note-form" class="form-control" id="note" name="note" aria-describedby="notesHelp" maxlength="400">{{ current_apt.notes if current_apt.notes else '' }}</textarea>
                                <small id="notesHelp" class="form-text text-muted" >Have any allergies? Afraid of needles? Add a small note here so we can try to make your donation experience as easy as possible.<br/></small>
                                <button type="submit" class="btn btn-info">Update Notes</button>
                            </form>
                            <form action="{{ url_for('scheduleapt') }}" method="POST" id="userform">
                                <input type="hidden" name="tsid" value="{{ current_apt.key.id() }}"/>
                                <input type="hidden" name="eid" value="{{ event.key.id() }}"/>
                                <button type="submit" class="btn btn-danger">Cancel Appointment</button>
                            </form>
                            <div class="btn-group" role="group">
                                <a class="btn btn-secondary" href="https://calendar.google.com/calendar/r/eventedit?{{apt_url}}">Add to Google Calendar</a>
                            </div>
                        {% endif %}
                    {% elif time_slots %}
                            <form action="{{ url_for('scheduleapt') }}" method="POST" id="userform">
                                <div class="form-group">
                                    <label for="tsid">Available Appointment Times:</label>
                                    <select class="form-control" id="tsid" form="userform" name="tsid">
                                        {% for slot in time_slots %}
                                            <option value="{{slot.id}}">{{slot.date}} EST</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <input type="hidden" name="eid" value="{{ event.key.id() }}"/>
                                <button type="submit" class="btn btn-default">Schedule Appointment</button>
                            </form>
                    {% endif %}
                {% elif g.get('account_type') == 'bank' %}
                    {% if event.end_date > current_time and g.get('account_type') == 'bank' %}
                        <a href="{{url_for('editevent', eid=event.key.id())}}" class="btn btn-primary btn-larg">Edit Event</a>
                    {% endif %}
                {% endif %}
            {% else %}
                 {% if event.end_date < current_time %}
                    <h4>Interested in attending events like this? Create an account or sign in.</h4>
                 {% else %}
                    <h4>Interested in attending this event? Create an account or sign in.</h4>
                 {% endif %}
            {% endif %}
        </div>
    {% else %}
        <p>Sorry, we are unable to find the requested event. Please try again.</p>
    {% endif %}
{% endblock %}
